<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Safewalker</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/map/normalize.css" />
  <link rel="stylesheet" type="text/css" href="assets/map/style.css" />
</head>
<body class="index is-preload">
<div id="page-wrapper">
  <header id="header" class="alt">
    <nav class="navbar" id="nav">
      <a id="logo" href="index.html"><img class="topLogo" src="assets/map/Safewalker-Logo-2.png"/></a>
      <ul id="navUL">
        <li id="measureFrom" class="navItem dropdown submenu">
          <embed id="newMarkerIcon" class="hidden" src="assets/map/snowflake-solid.svg"/><a id="newMarkerType" class="hidden">Pest</a>
          <ul id="infoDropdown" class="dropdown-content">
            <li>
              <form id="infoForm" action="" method="get">
                <label for="info">Type in Details:</label>
                <input id="infoField" type="text" name="info" />
              </form>
            </li>
          </ul>
        </li>
        <li class="navItem guide">
          <a href="index.html">Guide</a>
        </li>
        <li class="navItem dropdown submenu">
          <symbol class="textArrow downArrow"></symbol><a class="dropbtn">New Marker</a>
          <ul id="dropdown-container" class="dropdown-content">
            <li>
              <embed class="icon1" src="assets/map/flask-solid.svg"/><a class="iconList icon1">Pesticide</a>
            </li>
            <li>
              <embed class="icon1" src="assets/map/snowflake-solid.svg"/><a class="iconList icon2">Ice</a>
            </li>
            <li>
              <embed class="icon1" src="assets/map/snowplow-solid.svg"/><a class="iconList icon3">Road Work</a>
            </li>
            <li>
              <embed class="icon1" src="assets/map/tree-solid.svg"/><a class="iconList icon4">Fallen Tree</a>
            </li>
            <li>
              <embed class="icon1" src="assets/map/truck-solid.svg"/><a class="iconList icon5">Heavy Traffic</a>
            </li>
            <li>
              <embed class="icon1" src="assets/map/umbrella-solid.svg"/><a class="iconList icon6">Weather</a>
            </li>
          </ul>
        </li>
        <%if(!locals.isItAuth){%>
          <li class="navItem"><a href="/login" class="button primary">Log In</a></li>
          <li class="navItem"><a href="/signup" class="button primary">Sign Up</a></li>
        <%}else{%>
          <li class="navItem"><a href="#" class="button primary"><%=locals.profileName%></a></li>
          <li class="navItem"><a href="/logout" class="button primary">Log Out</a></li>
        <%}%>
      </ul>
    </nav>
  </header>
  <section id="banner">
    <div id="map"></div>
  </section>
  <!-- <% console.log( locals.userCode ) %> -->
</div>

<!-- Scripts -->
<script>
  let markersFromDB = [], userCode = "<%= locals.userCode %>"
</script>
<% for(let i=0; i<locals.markers.length; i++){ %>
  <script>
    markersFromDB.push({_id:         "<%= locals.markers[i]._id %>",
                        markerType: +"<%= locals.markers[i].markerType %>",
                        latitude:   +"<%= locals.markers[i].latitude %>",
                        longitude:  +"<%= locals.markers[i].longitude %>",
                        info:        "<%= locals.markers[i].info %>",
                        user:        "<%= locals.markers[i].user %>",
                        createdAt:   "<%= locals.markers[i].createdAt %>",
                        approved:   +"<%= locals.markers[i].approved %>",
                        flagged:    +"<%= locals.markers[i].flagged %>",
                        flagBy:      "<%= locals.markers[i].flagBy %>",
                        __v:        +"<%= locals.markers[i].__v %>"})
  </script>
<% } %>
<script type="text/javascript" src="assets/map/main.js"></script>
<script async type="text/javascript"
src="<%=process.env.MAPKEY%>">
</script>
</body>
</html>